

<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Orbitron&family=Press+Start+2P&display=swap" rel="stylesheet">

<div class="container">
  <h2>List of Developers</h2>
<!--  <div *ngFor="let user of userList" class="user-card">-->
    <!--if user is stranger execute this html-->
<!--    <div  *ngIf="user.isFriend" class="friend-background">-->
<!--    <h3>{{ user.name }}</h3>-->
<!--    <p>ID: {{ user.id }}</p>-->
<!--    <p>Level: {{ user.level }}</p>-->
<!--    <p>Join Date: {{ user.joinDate }}</p>-->
<!--      <p  *ngIf="user.isOnline" class="online-checker">-->
<!--        ONLINE-->
<!--        </p>-->
<!--      <p  *ngIf="!user.isOnline" class="online-checker">-->
<!--        OFFLINE-->
<!--      </p>-->
<!--      <p>Friend: {{ user.isFriend ? 'Yes' : 'No' }}</p>-->
<!--    &lt;!&ndash; button to toggle admin status &ndash;&gt;-->
<!--    <button (click)="toggleFriendStatus(user)" class="toggle-button">-->
<!--      Remove Friend-->
<!--    </button>-->
<!--      </div>-->
<!--&lt;!&ndash;if user is friend execute this html&ndash;&gt;-->
<!--    <div *ngIf="!user.isFriend" class="stranger-background">-->
<!--      <h3>{{ user.name }}</h3>-->
<!--      <p>ID: {{ user.id }}</p>-->
<!--      <p>Level: {{ user.level }}</p>-->
<!--      <p>Join Date: {{ user.joinDate }}</p>-->
<!--      <p  *ngIf="user.isOnline" class="online-checker">-->
<!--        ONLINE-->
<!--      </p>-->

<!--      <p  *ngIf="!user.isOnline" class="online-checker">-->
<!--        OFFLINE-->
<!--      </p>-->

<!--      <p>Friend: {{ user.isFriend ? 'Yes' : 'No' }}</p>-->
<!--      &lt;!&ndash; button to toggle admin status &ndash;&gt;-->
<!--      <button (click)="toggleFriendStatus(user)" class="toggle-button">-->
<!--       Add Friend-->
<!--      </button>-->
<!--    </div>-->
<!--</div>-->
<!--</div>>-->
<app-content-list></app-content-list>
</div>
